<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aprendiendo Html5</title>
  <link rel="stylesheet" href="../Styles/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Bebas+Neue&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../Styles/styles.css">
</head>

<body>
  <header>
    <h1 class="siteName">Furniture <span>Store</span></h1>
  </header>

  <div class="line"></div>
  <nav class="primaryNav container">
    <a href="index.html">Home</a>
    <a href="aboutUs.html">About Us</a>
    <a href="shop.html">Shop</a>
    <a href="blog.html">Blog</a>
    <a href="galery.html">Galery</a>
    <a href="contact.html">Contact</a>
  </nav>

  <main class="sectionMain container">
    <h2>About Us</h2>
    <div class="sectionAboutus">
      <img src="../Assets/Img/nosotros.jpg" alt="sobre nosotros imagen">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolore at praesentium ratione sunt voluptate fugit enim totam cumque alias quisquam neque, illo voluptatum dolor dolorem quae quaerat possimus blanditiis.
      <br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut modi, fugit delectus et molestias assumenda earum officia necessitatibus, veniam repudiandae tempora. Et quisquam odio tenetur minima officiis fugit quam adipisci!
      </p>
    </div>
  </main>

  <footer class="siteFooter">
    <div class="footerGrid container">
      <div class="categoriesFooter">
        <h3>Categories</h3>
        <nav>
          <a href="#">Kitchen</a>
          <a href="#">Office</a>
          <a href="#">Garden</a>
          <a href="#">Garage</a>
          <a href="#">Bedroom</a>
        </nav>
      </div>
      <div class="aboutUsFooter">
        <h3>About Us</h3>
        <nav>
          <a href="#">Our History</a>
          <a href="#">Mission, Vision and Values</a>
          <a href="#">Carres</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
        </nav>
      </div>
      <div class="supportFooter">
        <h3>Support</h3>
        <nav>
          <a href="#">FAQ</a>
          <a href="#">Online Support</a>
          <a href="#">Security</a>
          <a href="#">Careers</a>
          <a href="#">Contact Us</a>
        </nav>
      </div>
    </div>
    <p class="copyright container">All rigths reserved. FurnitureShop 2023</p>
  </footer>
</body>
</html>