<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aprendiendo Html5</title>
  <link rel="stylesheet" href="../Styles/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Bebas+Neue&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../Styles/styles.css">
</head>

<body>
  <header>
    <h1 class="siteName">Furniture <span>Store</span></h1>
  </header>

  <div class="line"></div>
  <nav class="primaryNav container">
    <a href="index.html">Home</a>
    <a href="aboutUs.html">About Us</a>
    <a href="shop.html">Shop</a>
    <a href="blog.html">Blog</a>
    <a href="galery.html">Galery</a>
    <a href="contact.html">Contact</a>
  </nav>

  <h2 class="container titleBlog">Blog</h2>
  <main class="blogContainer container">
    <article class="blogEntrie">
      <section class="blog">
        <h3>Blog name</h3>
        <img src="../Assets/Img/galeria_01.jpg" alt="imagen de blog">
        <div class="blogInfo">
          <p class="dateBlog">Date: <span>21/12/2023</span></p>
          <p class="authorBlog">Writing by: <span>AngelHV</span></p>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex modi fugit, odit velit quibusdam doloremque architecto enim corrupti veritatis mollitia atque, aut nostrum. Odio impedit reprehenderit accusamus, dolor adipisci accusantium?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo soluta doloremque illo ipsam. Nesciunt ratione, sequi officia assumenda ipsam autem atque optio velit in aut minima, veniam repudiandae reiciendis quae!</p>
        <a class="ridingBlog" href="../Views/blogPage.html">RIDING</a>
      </section>
      <section class="blog">
        <h3>Blog name</h3>
        <img src="../Assets/Img/galeria_02.jpg" alt="imagen de blog">
        <div class="blogInfo">
          <p class="dateBlog">Date: <span>21/12/2023</span></p>
          <p class="authorBlog">Writing by: <span>AngelHV</span></p>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex modi fugit, odit velit quibusdam doloremque architecto enim corrupti veritatis mollitia atque, aut nostrum. Odio impedit reprehenderit accusamus, dolor adipisci accusantium?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo soluta doloremque illo ipsam. Nesciunt ratione, sequi officia assumenda ipsam autem atque optio velit in aut minima, veniam repudiandae reiciendis quae!</p>
        <a class="ridingBlog" href="#">RIDING</a>
      </section>
    </article>
    <aside class="navAside">
      <h3>Another entrie Blog</h3>
      <ul>
        <li>
          <a href="#">Blog 1</a>
        </li>
        <li>
          <a href="#">Blog 2</a>
        </li>
        <li>
          <a href="#">Blog 3</a>
        </li>
        <li>
          <a href="#">Blog 4</a>
        </li>
      </ul>
    </aside>
  </main>

  <footer class="siteFooter">
    <div class="footerGrid container">
      <div class="categoriesFooter">
        <h3>Categories</h3>
        <nav>
          <a href="#">Kitchen</a>
          <a href="#">Office</a>
          <a href="#">Garden</a>
          <a href="#">Garage</a>
          <a href="#">Bedroom</a>
        </nav>
      </div>
      <div class="aboutUsFooter">
        <h3>About Us</h3>
        <nav>
          <a href="#">Our History</a>
          <a href="#">Mission, Vision and Values</a>
          <a href="#">Carres</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
        </nav>
      </div>
      <div class="supportFooter">
        <h3>Support</h3>
        <nav>
          <a href="#">FAQ</a>
          <a href="#">Online Support</a>
          <a href="#">Security</a>
          <a href="#">Careers</a>
          <a href="#">Contact Us</a>
        </nav>
      </div>
    </div>
    <p class="copyright container">All rigths reserved. FurnitureShop 2023</p>
  </footer>
</body>

</html>