<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aprendiendo Html5</title>
  <link rel="stylesheet" href="../Styles/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Bebas+Neue&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../Styles/styles.css">
</head>

<body>
  <header>
    <h1 class="siteName">Furniture <span>Store</span></h1>
  </header>

  <div class="line"></div>
  <nav class="primaryNav container">
    <a href="index.html">Home</a>
    <a href="aboutUs.html">About Us</a>
    <a href="shop.html">Shop</a>
    <a href="blog.html">Blog</a>
    <a href="galery.html">Galery</a>
    <a href="contact.html">Contact</a>
  </nav>

  <main class="galeryContainer">
    <h2>Galery</h2>
    <ul class="listOfGalery">
      <li>
        <a href="../Assets/Img/galeria_01.jpg">
          <img src="../Assets/Img/galeria_01.jpg" alt="imagen de la galeria">
        </a>
      </li>
      <li>
        <a href="../Assets/Img/galeria_02.jpg">
          <img src="../Assets/Img/galeria_02.jpg" alt="imagen de la galeria">
        </a>
      </li>
      <li>
        <a href="../Assets/Img/galeria_03.jpg">
          <img src="../Assets/Img/galeria_03.jpg" alt="imagen de la galeria">
        </a>
      </li>
      <li>
        <a href="../Assets/Img/galeria_04.jpg">
          <img src="../Assets/Img/galeria_04.jpg" alt="imagen de la galeria">
        </a>
      </li>
      <li>
        <a href="../Assets/Img/galeria_05.jpg">
          <img src="../Assets/Img/galeria_05.jpg" alt="imagen de la galeria">
        </a>
      </li>
      <li>
        <a href="../Assets/Img/galeria_05.jpg">
          <img src="../Assets/Img/galeria_06.jpg" alt="imagen de la galeria">
        </a>
      </li>
      <li>
        <a href="../Assets/Img/galeria_05.jpg">
          <img src="../Assets/Img/galeria_07.jpg" alt="imagen de la galeria">
        </a>
      </li>
      <li>
        <a href="../Assets/Img/galeria_05.jpg">
          <img src="../Assets/Img/galeria_08.jpg" alt="imagen de la galeria">
        </a>
      </li>
      <li>
        <a href="../Assets/Img/galeria_05.jpg">
          <img src="../Assets/Img/galeria_09.jpg" alt="imagen de la galeria">
        </a>
      </li>
    </ul>
  </main>

  <footer class="siteFooter">
    <div class="footerGrid container">
      <div class="categoriesFooter">
        <h3>Categories</h3>
        <nav>
          <a href="#">Kitchen</a>
          <a href="#">Office</a>
          <a href="#">Garden</a>
          <a href="#">Garage</a>
          <a href="#">Bedroom</a>
        </nav>
      </div>
      <div class="aboutUsFooter">
        <h3>About Us</h3>
        <nav>
          <a href="#">Our History</a>
          <a href="#">Mission, Vision and Values</a>
          <a href="#">Carres</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
        </nav>
      </div>
      <div class="supportFooter">
        <h3>Support</h3>
        <nav>
          <a href="#">FAQ</a>
          <a href="#">Online Support</a>
          <a href="#">Security</a>
          <a href="#">Careers</a>
          <a href="#">Contact Us</a>
        </nav>
      </div>
    </div>
    <p class="copyright container">All rigths reserved. FurnitureShop 2023</p>
  </footer>
</body>

</html>