<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aprendiendo Html5</title>
  <link rel="stylesheet" href="../Styles/normalize.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Bebas+Neue&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
  <header>
    <h1 class="siteName">Furniture <span>Store</span></h1>
  </header>

  <div class="line"></div>
  <nav class="primaryNav container">
    <a href="index.html">Home</a>
    <a href="aboutUs.html">About Us</a>
    <a href="shop.html">Shop</a>
    <a href="blog.html">Blog</a>
    <a href="galery.html">Galery</a>
    <a href="contact.html">Contact</a>
  </nav>
  <div class="hero">
  </div>
  <section class="container categories">
    <h2>Category of Products</h2>
    <div class="listCategories">
      <div class="category">
        <img src="../Assets/Img/categoria1.jpg" alt="Office image">
        <a href="#">Office</a>
      </div>
      <div class="category">
        <img src="../Assets/Img/categoria2.jpg" alt="Home image">
        <a href="#">Home</a>
      </div>
      <div class="category">
        <img src="../Assets/Img/categoria3.jpg" alt="Kitchen image">
        <a href="#">Kitchen</a>
      </div>
    </div>
  </section>

  <section class="aboutUs">
    <div class="aboutUsText">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tenetur necessitatibus suscipit! Deserunt repudiandae aut quisquam ipsa doloremque numquam omnis, quis soluta cupiditate, possimus adipisci voluptates natus, molestias architecto recusandae?</p>
    </div>
  </section>

  <main class="container mainProducts">
    <h2 class="textCenter">Our Products</h2>
    <div class="listProducts">
      <div class="product one">  <!-- This is a product -->
        <img src="../Assets/Img/producto1.jpg" alt="Product 1">
        <div class="productText">  <!-- This is a description of product -->
          <h3>Product 1</h3>
          <p class="productDesc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam magnam cum, aliquam quasi ipsa recusandae at voluptatum nam. Atque nesciunt unde hic et enim facere amet harum delectus dolor.</p>
          <p class="precio">$1,000,000</p>
          <a href="#">Add to Cart</a>
        </div>
      </div>
      <div class="product two">  <!-- This is a product -->
        <img src="../Assets/Img/producto2.jpg" alt="Product 2">
        <div class="productText">  <!-- This is a description of product -->
          <h3>Product 2</h3>
          <p class="productDesc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam magnam cum, aliquam quasi ipsa recusandae at voluptatum nam. Atque nesciunt unde hic et enim facere amet harum delectus dolor.</p>
          <p class="precio">$1,000,000</p>
          <a href="#">Add to Cart</a>
        </div>
      </div>
      <div class="product three">  <!-- This is a product -->
        <img src="../Assets/Img/producto3.jpg" alt="Product 3">
        <div class="productText">  <!-- This is a description of product -->
          <h3>Product 3</h3>
          <p class="productDesc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam magnam cum, aliquam quasi ipsa recusandae at voluptatum nam. Atque nesciunt unde hic et enim facere amet harum delectus dolor.</p>
          <p class="precio">$1,000,000</p>
          <a href="#">Add to Cart</a>
        </div>
      </div>
      <div class="product four">  <!-- This is a product -->
        <img src="../Assets/Img/producto4.jpg" alt="Product 4">
        <div class="productText">  <!-- This is a description of product -->
          <h3>Product 4</h3>
          <p class="productDesc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam magnam cum, aliquam quasi ipsa recusandae at voluptatum nam. Atque nesciunt unde hic et enim facere amet harum delectus dolor.</p>
          <p class="precio">$1,000,000</p>
          <a href="#">Add to Cart</a>
        </div>
      </div>
      <div class="product five">  <!-- This is a product -->
        <img src="../Assets/Img/producto5.jpg" alt="Product 5">
        <div class="productText">  <!-- This is a description of product -->
          <h3>Product 5</h3>
          <p class="productDesc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam magnam cum, aliquam quasi ipsa recusandae at voluptatum nam. Atque nesciunt unde hic et enim facere amet harum delectus dolor.</p>
          <p class="precio">$1,000,000</p>
          <a href="#">Add to Cart</a>
        </div>
      </div>
      <div class="product six">  <!-- This is a product -->
        <img src="../Assets/Img/producto6.jpg" alt="Product 6">
        <div class="productText">  <!-- This is a description of product -->
          <h3>Product 6</h3>
          <p class="productDesc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam magnam cum, aliquam quasi ipsa recusandae at voluptatum nam. Atque nesciunt unde hic et enim facere amet harum delectus dolor.</p>
          <p class="precio">$1,000,000</p>
          <a href="#">Add to Cart</a>
        </div>
      </div>
    </div>
  </main>

  <footer class="siteFooter">
    <div class="footerGrid container">
      <div class="categoriesFooter">
        <h3>Categories</h3>
        <nav>
          <a href="#">Kitchen</a>
          <a href="#">Office</a>
          <a href="#">Garden</a>
          <a href="#">Garage</a>
          <a href="#">Bedroom</a>
        </nav>
      </div>
      <div class="aboutUsFooter">
        <h3>About Us</h3>
        <nav>
          <a href="#">Our History</a>
          <a href="#">Mission, Vision and Values</a>
          <a href="#">Carres</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
        </nav>
      </div>
      <div class="supportFooter">
        <h3>Support</h3>
        <nav>
          <a href="#">FAQ</a>
          <a href="#">Online Support</a>
          <a href="#">Security</a>
          <a href="#">Careers</a>
          <a href="#">Contact Us</a>
        </nav>
      </div>
    </div>
    <p class="copyright container">All rigths reserved. FurnitureShop 2023</p>
  </footer>
</body>
</html>