/* Snippet de box model y box sizing */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Arimo', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/* Utilidades */
.textCenter {
  text-align: center;
}

/* Globales */
h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
  margin-top: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}


/* Header y Navegacion */
.siteName{
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.siteName span {
  color: #2D9596;
}

.line {
  border-top: 0.1rem solid rgba(79, 79, 79, 0.798);

}

.primaryNav{
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hero {
  background-image: url(../Assets/Img/principal.jpg);
  height: 55rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* BOX MODEL */
/* Padding = separar el contenido de los bordes hacia adentro del contenedor */
/* Margin = separar el contenido de los bordes hacia afuera del contenedor */
/* Border = borde del contenedor */
/* Width = ancho del contenedor */
/* Height = alto del contenedor */
/* Box-sizing = permite que el width y height sean el ancho y alto del contenedor, sin contar el padding y border */
/* Snippet
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*/

/* DISPLAY */
/* Block = ocupa todo el ancho disponible y se coloca un elemento debajo del otro */
/* Inline = ocupa el ancho del contenido y se coloca un elemento a la derecha del otro */
/* Inline-block = permite darle un width, height y margin a un elemento inline comun */

/* FLEX BOX */
/* ROW DIRECTION */
/* flex-direction: row; ----> justify-content: left, rigth or center (izquierda, derecha o en el centro); */
/* flex-direction: row; ----> align-items: start, center or end (arriba, en medio y abajo); */

/* COLUMN DIRECTION */
/* flex-direction: column; ----> justify-content: start, center or end (arriba, en medio y abajo); */
/* flex-direction: column; ----> align-items: left, rigth or center (izquierda, derecha o en el centro); */

/* GRID */
/*

create rows ------> grid-templates-rows: ;
create columns ---> grid-template-columns: ;

*/

/* List categories */
.categories{
  margin-top: 5rem;
}

.categories h2 {
  text-align: center;
}

.category a {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.category a:hover {
  background-color: #2D9596;
  color: #ffffff;
  border-radius: 0 0 2rem 2rem;
}

.listCategories{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

/* CSS Units */
/* Rems

  html {
    font-size: 62.5%; para que...
      1rem = 10px
  }

  body {
    font-size: 1.6rem; para que...
    el tamaño de la fuente permanezca po default en 16px
  }
*/

/* AboutUs bloque */
.aboutUs {
  margin: 5rem 0;
  background-image: linear-gradient( to right, transparent 50%, #2D9596 50%, #2D9596 100%), url(../Assets/Img/nosotros.jpg);
  background-position: left center;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aboutUsText {
  grid-column: 2 / 3;
  padding: 0 8rem;
}

.aboutUsText h2,p {
  color: #ffffff;
}

/* Listado de productos principal */
.mainProducts {
  padding-top: 5rem;

}

.product {
  background-color: #2D9596;
}

.productText {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.productText h3 {
  padding: 3rem 0 0 0;
  margin: 0;
}

.productText .productDesc{
  padding: 2.5rem;
  margin: 0;
}

.productText .precio {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0 0 2.5rem 0;
}

.productText a {
  background-color: #2D9596;
  display: block;
  margin: 2rem;
  transition: background-color .4s ease-out;
}

.productText a:hover {
  background-color: #1b6492;
}

.listProducts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1/3fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.one {
  grid-area: 1 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.one img {
  height: 60rem;
  width: 100%;
  object-fit: cover;
}
.two{
  grid-area: 2 / 1 / 3 / 4;
}
.three{
  grid-area: 2 / 4 / 3 / 7;
}
.four{
  grid-area: 3 / 1 / 4 / 3;
}
.five{
  grid-area: 3 / 3 / 4 / 5;
}
.six{
  grid-area: 3 / 5 / 4 / 7;
}